mat-card-title,
mat-card-content {
    // display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.fullscreenDiv {
    width: 100%;
    height: 100%;
    background: linear-gradient(#e66465, #9198e5);
    position: relative;
    overflow-y: auto;
}

.clockCard {
    width: 450px;
    height: 400px;
    max-height: 50rem;
    position: absolute;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.clockButton {
    flex: 0 auto;
    left: 100%;
    top: 100%;
    transform: translate(-100%, 0);
    transform: translate(-100%, 150%);
    width: 100%;
    padding: 0px 10px;

}

//make title have 5% margin from top of card
.mat-card-title {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 8rem;
    margin: 0 0 0 0;
}

.currentTime {
    display: inline-flex;
    // justify-content: center;
    font-size: 1rem;
}

.row{
    margin: 0 auto;
}

.block {
    display: inline-block;
    padding: 3%;
}

#time {
    font-size: 3rem;
}
