<div class="adminPage">
    <mat-card class="headerCard">
        <mat-card-title class="loginBanner">11 November - 26 November</mat-card-title>
        <mat-card-content>
            <div>
                <div class="row">
                    <div class="column">
                        <p class="statisticHeader">Team Hours Worked</p>
                        <h1 style="font-weight: bold">99 hrs</h1>
                    </div>
                    <div class="column">
                        <p class="statisticHeader">Outgoing Pay</p>
                        <h1 style="font-weight: bold">$12345.67</h1>
                    </div>
                    <div class="column">
                        <p class="statisticHeader">Team Members</p>
                        <h1 style="font-weight: bold">COUNT</h1>
                    </div>
                    <mat-card class="spreadsheet">
                        <div class="row">
                            <div class="column" style="width: 50%; padding-left: 10px; padding-right: 10px">
                                <mat-card-title style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; width: 50%;">Team Member Activity</mat-card-title>
                            </div>
                            <div class="column" style="width: 50%; padding-left: 10px; padding-right: 10px; text-align: right;">
                                <button mat-raised-button>Edit</button>
                            </div>
                        </div>
                        <hr>
                        <mat-card-content><h1>There will be a timesheet log here</h1></mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div>

            </div>
        </mat-card-content>
    </mat-card>
</div>