<button class='btn btn-dark' (click)='getLogs()'>Click Me to get logs</button>

<button class='btn btn-dark' (click)='clockIn()'>Click Me to clock in right now</button>
<button class='btn btn-dark' (click)='clockOut()'>Click Me to clock out right now</button>


<mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="pickerStart" [(ngModel)]="startDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="endDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field>

  <button class='btn btn-dark' (click)='pay()'>Click Me to show pay</button>
