.fullscreenDiv {
  width: 100%;
  height: 100%;
  background: linear-gradient(#e66465, #9198e5);
  position: relative;
}

.homeCard {
  width: 540px;
  height: 550px;
  position: absolute;
  left: 50%;
  margin-top: 2%;
  margin-bottom: 1%;
  transform: translate(-50%, 0);
  text-align: center;
}

.mat-raised-button{
  margin: 2%;
  width: 440px;
  height: 95px;
  background-color: #3f51b5;
  color: white;
  font-size: large;
}

button.mat-raised-button:hover {
  background-color: #5462b5;
  //move button slightly
  transform: translateY(-2px);
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 5px;
  margin-top: -3px;
  font-size: 500;
}

.subtext {
  margin-top: -5px; 
  margin-bottom: -5px; 
  font-size: small;
}

.notLoaded {
  //transition for first name fade in
  opacity: 0;
  transition: all 1s ease-in-out;
}

.loaded {
  //transition for first name fade in
  opacity: 1;
  transition: all 1s ease-in-out;
}